body {
	background-color: lightyellow;
	height: 100vh;
	width: calc(100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body div {
	display: flex;
}

h3 {
	margin: 5px 0;
}

p {
	font-size: 30px;
	text-align: center;
}

#stats, #actions {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 95%;

}

.stats, .actions {
	width: 33%;
	height: 50px;
	border: 2px solid black;
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 20px;
	visibility: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;
}

#action-display {
	visibility: hidden;
	height: 50px;
	border: 2px dashed black;
	width: 75%;
	font-size: 30px;
	justify-content: center;
	align-items: center;
}

.stats {
	background-color: lightblue;
}

.actions {
	border-radius: 50px;
}

#feed {
	background-color: tomato;
}

#lights {
	background-color: yellow;
}

#play {
	background-color: green;
}

#workOut {
	background-color: mediumpurple;
}

#pause {
	background-color: white;
}

#pet img {
	height: 250px;
	visibility: hidden;
}

h1, form {
	width: 100%;
	text-align: center;
	font-size: 60px;
}

h1 {
	margin: 10px 0;
}

input {
	height: 100px;
/*	width: 45%;*/
	text-align: center;
	font-size: 60px;
}

#petName {
	border: 2px solid blue;
	background-color: lightyellow;
	width: 45%;
}

#petSubmit {
	background-color: lightyellow;
	border: 2px solid green;
	width: 45%;
}