body {
	background-color: lightyellow;
	height: calc(100%);
	width: calc(100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body div {
	display: flex;
}

#stats, #actions {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 95%;

}

.stats, .actions {
	width: 33%;
	height: 50px;
	border: 2px solid black;
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 20px;
	visibility: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;
}

#pet img {
	height: 250px;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 60px;
}

input {
	height: 100px;
	width: 45%;
	text-align: center;
	font-size: 60px;
}

#petName {
	border: 2px solid blue;
}

#petSubmit {
	background-color: skyblue;
}